
$red : red;
.container{
    p{
      background:  $red;
      padding:10px;
    }
    button{
        width: 150px;
        background: red;
        padding: 10px;
        font:{
             size: 20px
        }
      &:hover, &:active , &:focus{
          color: black;
          background: aliceblue;
          border: 1px solid red
       } 
    }
}



